# Fossil Fuel MSAs and Non-MSAs

Exploratory data analysis of the metropolitian statistical areas (MSAs) and non-metropolitan statistical areas (non-MSAs) that have been affected by coal mine closure or generating unit retirement and are therefore eligible for renewable energy tax credits under the Inflation Reduction Act (IRA) of 2022.

### Summary

The dataset contains 1,505 records, each representing a county that comprises part of an MSA or a non-MSA. (For more background on these different geography types, please consult the FAQ #14 [here](https://energycommunities.gov/energy-community-tax-credit-bonus-faqs/).) Records span the 50 U.S. States, the District of Columbia, and the U.S. territories. MSAs and non-MSAs have a label indicating whether they qualify as an energy community. 845 counties are part of an energy community vis-Ã -vis membership in one of the 101 MSAs or 78 non-MSAs.

Relevant columns in the dataset (apart from the geometry) include the FIPS Codes for the state (`fipstate_2`) and county (`fipscty_20`); the MSA/non-MSA name (`MSA_area_n`); and the energy community indicator/flag (`EC_qual_st`). The dataset has a coordinate reference system (CRS) of EPSG:4269, which is standard for federal agencies.

### Exploration

In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
data_dir = "../data/raw/"
file = "msa_nmsa_fee_ec_status_2023v2.zip"
folder = "MSA_NMSA_FEE_EC_Status_2023v2/MSA_NMSA_FEE_EC_Status_SHP_2023v2"
gdf = gpd.read_file(f"{data_dir}{file}!{folder}")
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1505 entries, 0 to 1504
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ObjectID    1505 non-null   int64
 1   AFFGEOID_C  1505 non-null   object
 2   fipstate_2  1505 non-null   object
 3   fipscty_20  1505 non-null   object
 4   geoid_cty_  1505 non-null   object
 5   county_nam  1505 non-null   object
 6   state_name  1505 non-null   object
 7   MSA_area_I  1505 non-null   float64
 8   MSA_area_n  1505 non-null   object
 9   ffe_ind_qu  1505 non-null   float64
 10  ec_ind_qua  1505 non-null   float64
 11  msa_qual    1505 non-null   object
 12  FEE_qual_s  1505 non-null   object
 13  EC_qual_st  1505 non-null   object
 14  Label_FEE   660 non-null    object
 15  Label_EC    1505 non-null   object
 16  MSA_NMSA_L  1505 non-null   object
 17  date_last_  1505 non-null   object
 18  dataset_ve  1505 non-null   float64
 19  date_recor  1505 non-null   object
 20  Shape_Leng  1505 non-null   float64
 21  Shape_Area  1505 non-null   float64
 22  geometry    1505 non-null   geometry
dtypes: float64(6), geometry(1), int64(1), object(15)
memory usage: 270.6+ KB

In [4]:
gdf.head(2)

,ObjectID,AFFGEOID_C,fipstate_2,fipscty_20,geoid_cty_,county_nam,state_name,MSA_area_I,MSA_area_n,ffe_ind_qu,ec_ind_qua,msa_qual,FEE_qual_s,EC_qual_st,Label_FEE,Label_EC,MSA_NMSA_L,date_last_,dataset_ve,date_recor,Shape_Leng,Shape_Area,geometry
0,1,0500000US01007,01,007,01007,Bibb County,Alabama,13820.0,"Birmingham-Hoover, AL",1.0,0.0,MSA,Yes,No,only meets the FFE threshold (not an energy co...,"is not an energy community, as it does not mee...","Birmingham-Hoover, AL metropolitan statistical...",2023-05-30,2023.2,2023-04-03,1.887520,0.156472,"POLYGON ((-87.31226 33.08622, -87.31218 33.087..."
1,2,0500000US01009,01,009,01009,Blount County,Alabama,13820.0,"Birmingham-Hoover, AL",1.0,0.0,MSA,Yes,No,only meets the FFE threshold (not an energy co...,"is not an energy community, as it does not mee...","Birmingham-Hoover, AL metropolitan statistical...",2023-05-30,2023.2,2023-04-03,2.423551,0.164405,"POLYGON ((-86.74919 33.99760, -86.74902 33.997..."

In [5]:
gdf.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [6]:
len(gdf.query("fipstate_2 >= '60'"))

6

In [7]:
gdf.query("fipstate_2 >= '60'")["MSA_area_n"]

1498                            Guayama, PR
1499                            Guayama, PR
1500                            Guayama, PR
1501    Virgin Islands nonmetropolitan area
1502    Virgin Islands nonmetropolitan area
1503    Virgin Islands nonmetropolitan area
Name: MSA_area_n, dtype: object

In [8]:
len(gdf.query("EC_qual_st == 'Yes'"))

845

In [9]:
len(gdf["MSA_NMSA_L"].unique())

179

In [10]:
len(gdf["MSA_area_n"].unique())

179

In [11]:
(gdf[["MSA_area_n", "EC_qual_st"]]
    .groupby(["EC_qual_st", "MSA_area_n"])
    .count()
    .reset_index()
    .groupby("EC_qual_st")
    .count())

            MSA_area_n
EC_qual_st
No                  78
Yes                101