# States

Exploratory data analysis of the raw TIGER/Line Shapefile for states.

#### Summary

This dataset contains geographic boundaries and metadata for the 50 U.S. states as well as six "non-states":

1. American Samoa
2. Commonwealth of the Northern Mariana Islands
3. District of Columbia
4. Guam
5. Puerto Rico
6. United States Virgin Islands

Relevant fields for data processing include `NAME` and the state [FIPS Code](https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt), `STATEFP` (also represented by the field `GEOID`). The dataset has a coordinate reference system (CRS) of EPSG:4269, which is standard for federal agencies.

#### Exploration

In [1]:
import geopandas as gpd

In [2]:
gdf = gpd.read_file("../data/raw/tl_2020_us_state.zip")
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REGION    56 non-null     object
 1   DIVISION  56 non-null     object
 2   STATEFP   56 non-null     object
 3   STATENS   56 non-null     object
 4   GEOID     56 non-null     object
 5   STUSPS    56 non-null     object
 6   NAME      56 non-null     object
 7   LSAD      56 non-null     object
 8   MTFCC     56 non-null     object
 9   FUNCSTAT  56 non-null     object
 10  ALAND     56 non-null     int64
 11  AWATER    56 non-null     int64
 12  INTPTLAT  56 non-null     object
 13  INTPTLON  56 non-null     object
 14  geometry  56 non-null     geometry
dtypes: geometry(1), int64(2), object(12)
memory usage: 6.7+ KB

In [3]:
gdf.head(2)

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,3,5,54,01779805,54,WV,West Virginia,00,G4000,A,62266296765,489206049,+38.6472854,-080.6183274,"POLYGON ((-81.74725 39.09538, -81.74635 39.096..."
1,3,5,12,00294478,12,FL,Florida,00,G4000,A,138958484319,45975808217,+28.3989775,-082.5143005,"MULTIPOLYGON (((-86.39964 30.22696, -86.40262 ..."

In [4]:
gdf.NAME.sort_values().unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado',
       'Commonwealth of the Northern Mariana Islands', 'Connecticut',
       'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'United States Virgin Islands', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [5]:
gdf.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich